[
  { rabbit, [
    {cluster_nodes, {['rabbit@rabbit01', 'rabbit@rabbit02',
                      'rabbit@rabbit03'], disc}},
    {cluster_partition_handling, autoheal},
    { loopback_users, [ ] },
    { tcp_listeners, [ 5672 ] },
    { ssl_listeners, [ ] },
    { hipe_compile, false }
  ] },
  {rabbitmq_management, [ {http_log_dir,"/var/log/rabbitmq/mgmt"},{listener, [{port, 15672 }]} ] },
  {rabbitmq_management_agent, [ {force_fine_statistics, false} ] }
].
